#project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:17.188rem;
    height: 21rem;
    border: #E7E3FA 1px solid;
    border-radius: 16px;
    padding: 1rem;
}

#project-title {
    color: var(--secondary-color);
    font-weight: 600;
}

#project-details-btn {
    width: 120px;
    align-self: center;
    border: #DFDCDC 1px solid;
    cursor: pointer;
}

#project-details-btn:hover {
    width: 120px;
    align-self: center;
    border: #CC5500 1px solid;
    cursor: pointer;
}
