.navbar {
    display: flex;
    align-items: center;
    padding: 30px 72px;
    height: var(--navbar-height);
    background-color: #fff;
    border-bottom: #F2F1F1 1px solid;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }

  .navbar h1 {
    margin: 0;
    font-size: 32px;
    color: var(--primary-color);
    font-weight: 600;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 72px;
  }

  .navbar li {
    color: var(--nav-link-color);
    font-size: 20px;
    margin: 0 10px;
    font-weight: 500;
    cursor: pointer
  }

  .bell {
    width: 36px;
    height: 36px;
    color: #143078;
    cursor: pointer;
  }

  .search {
    margin-left: 326px;
  }

  .profile-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 70px
  }



.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }