/* Root styles and variables */
:root {
  /* CSS variables */
  --primary-color: #0F286B;
  --secondary-color: #CC5500;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --background-color: #f8f9fa;
  --text-color: #333333;
  --navbar-height: 80px;
  --nav-link-color: #143078;
}


/* Root layout */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}


